body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  margin: 0;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

canvas {
  border: 1px solid black;
  background-image: url('../img/kanyestage-test.jpg');
  width: 800px;
  height: 600px;
}
